body {
    font-family: 'GraphicPixel', "Lucida Console";
    position: relative;
    background-color: #d8e7f1;
}

#tetris-canvas {
    height: 400px;
    width: 360px;
    position: relative;
}

.tetris-action {
    position: absolute;
    top: 170px;
    left: 60px;
    color: #695aa0;
    font-size: 30pt;
    cursor: pointer;
}

.tetris-action:hover {
    color: #fff;
}